body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px;
  height: 200px; */
  /* margin-left: 25% */

}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: 10% center;
  z-index: 9999;
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  /* border: 1px solid #ebebeb;
  border-radius: 0.25rem; */
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 1rem;
}

.Sample input,
.Sample button {
  font: inherit;
}

.Sample header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Sample header h1 {
  font-size: inherit;
  margin: 0;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.Sample__container > * > * {
  margin: 10px;
}

.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}

.Sample__container__content .react-calendar {
  margin: 0 auto;
}

.testing {
  background-color: red;
  border-radius: 10px;
  animation-name: flash;
  animation: flash 2s infinite;
  border-color: darkred;
  border-style: solid;
  border-width: 5px;
  /* animation-duration: 4s; */
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.flash {
  animation-name: bright;
  animation: bright 2s infinite;
  /* animation-duration: 4s; */
}

@keyframes bright {
  0% {
    font-weight: normal;
    transform: scale(1);
  }
  50% {
    font-weight: bold;
    transform: scale(1.1);
  }
  100% {
    font-weight: normal;
    transform: scale(1);
  }
}

@keyframes flash {
  0% {
    /* filter: brightness(100%); */
    transform: scale(1);
  }
  50% {
    /* filter: brightness(250%); */
    transform: scale(1.1);
  }
  100% {
    /* filter: brightness(100%); */
    transform: scale(1);
  }
}

.flash-animation {
  animation: flash 1s infinite;
}

.yellow {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  /* border: '2px solid #8B8000'; */
  border-color: darkgray;
  border-style: solid;
  border-width: 5px;
}

.green {
  background-color: green;
  border-radius: 10px;
  /* border: '2px solid darkgreen'; */
  border-color: darkgreen;
  border-style: solid;
  border-width: 5px;
}

.add {
  border-color: darkgray;
  border-style: solid;
  border-width: 5px;
}


/* a:link {
  color: #ebebeb;
} */

a:hover {
  color:white;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.week-view {
  margin: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th, td {
  padding: 15px; /* Adjust this value as needed */
  text-align: center;
  border: 1px solid #ddd;
}

/* th {
  background-color: #f2f2f2;
  font-weight: bold;
} */

.results-table th:first-child, .results-table td:first-child {
  background-color: green; /* or your desired color */
  /* other styles */
}

/* Style the first column (exercise names) differently */
/* td:first-child {
  background-color: #f2f2f2;
  font-weight: bold;
} */

/* Style header cells for days of the week */
/* th:not(:first-child) {
  background-color: #4CAF50;
  color: #fff;
} */

th {
  background-color: #4CAF50;
  color: #fff;
}

/* Apply alternating row colors for better readability */
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

tr:nth-child(even) {
  background-color: #f2f2f2; /* light grey */
}

tr:nth-child(odd) {
  background-color: #fff; /* white */
}

/* td:nth-child(even) {
  background-color: #f2f2f2;
} */

/* Add hover effect for rows */
tr:hover {
  background-color: #ddd;
}
